---
title: Data Science Seminar
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include header.html %}
    {% include full_calendar.html %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                plugins: ['interaction', 'dayGrid', 'list', 'googleCalendar'],

                header: {
                    left: 'prev,next, today',
                    center: 'title',
                    right: 'dayGridMonth,listYear'
                },

                defaultView: 'listYear',

                // To make your own Google API key, follow the directions here:
                // http://fullcalendar.io/docs/google_calendar/
                googleCalendarApiKey: 'AIzaSyBq6TTVUkWGCs0vmGh1XlIuGn0w5dCtbsA',

                events: 'ekol7ulqm14nv155angut2rlfo@group.calendar.google.com',

                eventClick: function (arg) {
                    // opens events in a popup window
                    window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

                    arg.jsEvent.preventDefault() // don't navigate in main tab
                },

                loading: function (bool) {
                    document.getElementById('loading').style.display =
                        bool ? 'block' : 'none';
                }

            });

            calendar.render();
        });

    </script>
    <style>
        #loading {
            display: none;
        }
    </style>
</head>

<body>
    <header class="header-global">
        {% include navigation.html %}
    </header>
    <main>
        {% assign data = site.data.data %}
        <div class="position-relative">
            <!-- Hero for FREE version -->
            <section class="section section-lg section-hero section-shaped">
        
                <!-- Background circles -->
                <div class="shape shape-style-1 shape-primary">
                    <span class="span-150"></span>
                    <span class="span-50"></span>
                    <span class="span-50"></span>
                    <span class="span-75"></span>
                    <span class="span-100"></span>
                    <span class="span-75"></span>
                    <span class="span-50"></span>
                    <span class="span-100"></span>
                    <span class="span-50"></span>
                    <span class="span-100"></span>
                </div>
        
                <div class="container shape-container d-flex align-items-center py-lg">
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h1 class="display-3 text-white">
                                    {{ page.title }}
                                </h1>
                                <p class="lead text-white">Descriptions Descriptions Descriptions Descriptions Descriptions
                                    Descriptions Descriptions.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SVG separator -->
                <div class="separator separator-bottom separator-skew zindex-100">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </section>
        </div>
        <section class="section section-components pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div id='loading'>loading...</div>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>