---
title: Data Science Seminar
header:
  title: Data Science Seminar
  excerpt: |
    Thursdays 12:15 to 1:30, MEB 3147, pizza served.
    
    [poster](../assets/file/Spr20-poster-v2.pdf)
    {: class="btn btn-neutral"}
    [mailing list](http://mailman.cs.utah.edu/mailman/listinfo/UCDS-seminar)
    {: class="btn btn-neutral"}
  background-image: /assets/img/header-background/zion-shorter.jpg
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include head.html %}
    {% include full_calendar.html %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                plugins: ['interaction', 'dayGrid', 'list', 'googleCalendar'],

                header: {
                    left: 'prev,next, today',
                    center: 'title',
                    right: ''
                },

                defaultView: 'listWeek8',
                views: {
                    listWeek8: {
                        type: 'list',
                        duration: { weeks: 8 }
                    }
                },

                // To make your own Google API key, follow the directions here:
                // http://fullcalendar.io/docs/google_calendar/
                googleCalendarApiKey: 'AIzaSyBq6TTVUkWGCs0vmGh1XlIuGn0w5dCtbsA',

                events: 'ekol7ulqm14nv155angut2rlfo@group.calendar.google.com',

                startParam: 'today',

                eventClick: function (arg) {
                    // opens events in a popup window
                    window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

                    arg.jsEvent.preventDefault() // don't navigate in main tab
                },

                loading: function (bool) {
                    document.getElementById('loading').style.display =
                        bool ? 'block' : 'none';
                }

            });

            calendar.render();
        });

    </script>
    <style>
        #loading {
            display: none;
        }
    </style>
</head>

<body>
    <header class="header-global">
        {% include navigation.html %}
    </header>
    <main>
        {% include page__hero.html %}
        <section class="section">
            <div class="container">
                <div class="card card-profile shadow px-4 py-4 mt--300">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div id='loading'>loading...</div>
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>