.shape.shape-style-1.shape-dark {
    background-image: url("/assets/img/header-background/lauren-pandolfi-midium.jpg");
    background-size: cover;
}

.shape.shape-style-1.shape-dark-secondary,
section.section-lg.section-hero.section-shaped.pb-250 {
    background-image: url("/assets/img/header-background/zion-shorter.jpg");
    background-size: cover;
}

.footer-logo img {
    width: 200px;
    height: auto;
}