{% assign feature_row = page.feature_row %}

<section class="section section-lg pt-lg-0 mt--200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          {% for f in feature_row %}
            {% if f.url contains "://" %}
              {% capture f_url %}{{ f.url }}{% endcapture %}
            {% else %}
              {% capture f_url %}{{ f.url | relative_url }}{% endcapture %}
            {% endif %}
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-{{ f.color }} rounded-circle mb-4">
                    <i class="{{ f.icon }}"></i>
                  </div>
                  <h6 class="text-{{ f.color }} text-uppercase">{{ f.title }}</h6>
                  <p class="description mt-3">{{ f.excerpt | markdownify }}</p>
                  <div>
                    {% for b in f.badge %}
                      <span class="badge badge-pill badge-{{ f.color }}">{{ b }}</span>
                    {% endfor %}
                  </div>
                  <a href="{{ f_url }}" class="btn btn-{{ f.color }} {{ f.btn_class }}">{{ f.btn_label }}</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>