  <footer class="footer has-cards">
    <div class="container">
      <hr>
      {% assign data = site.data.data %}
      <div class="row align-items-center justify-content-md-between">
        <div class="col-lg-6">
          {{ data.email }}<br/>
          <a href="{{ "/involve.html" | relative_url }}">Get involved</a>
        </div>
        <div class="footer-logo">
          <a href="{{ "/index.html" | relative_url }}">
            <img src="{{ "/assets/img/brand/UlogoHv1-1200px.png" | relative_url }}">
          </a>
        </div>
        <div class="col-lg-6 text-lg-right btn-wrapper">
          <a target="_blank" href="{{ data.twitter }}" 
             class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip" data-original-title="@UUDataScience">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
