<meta charset='utf-8' />
<link href="{{ '/assets/fullcalendar-4.3.1/packages/core/main.css' | relative_url }}" rel='stylesheet' />
<link href="{{ '/assets/fullcalendar-4.3.1/packages/daygrid/main.css' | relative_url }}" rel='stylesheet' />
<link href="{{ '/assets/fullcalendar-4.3.1/packages/list/main.css' | relative_url }}" rel='stylesheet' />
<script src="{{ '/assets/fullcalendar-4.3.1/packages/core/main.js' | relative_url }}"></script>
<script src="{{ '/assets/fullcalendar-4.3.1/packages/interaction/main.js' | relative_url }}"></script>
<script src="{{ '/assets/fullcalendar-4.3.1/packages/daygrid/main.js' | relative_url }}"></script>
<script src="{{ '/assets/fullcalendar-4.3.1/packages/list/main.js' | relative_url }}"></script>
<script src="{{ '/assets/fullcalendar-4.3.1/packages/google-calendar/main.js' | relative_url }}"></script>
