<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="author" content="UCDS">
<title>{{ page.title }} - {{ site.title }}</title>
<!-- Favicon -->
<link rel="icon" href="{{ "/assets/img/brand/logo-favicon.png" | relative_url }}" type="image/png">
<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<!-- Icons -->
<link rel="stylesheet" href="{{ "/assets/vendor/nucleo/css/nucleo.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/vendor/font-awesome/css/font-awesome.min.css" | relative_url }}">
<!-- Argon CSS -->
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/argon.css?v=1.0.1" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/custom.css" | relative_url }}">
