{% for member in include.members_list %}
<div class="row justify-content-center pb-4">
    <div class="col-lg-12 d-flex">
        <div class="col-lg-3">
            {% if member.pic contains "://" %}
            {% capture img_path %}{{ member.pic }}{% endcapture %}
            {% else %}
            {% capture img_path %}{{ member.pic | relative_url }}{% endcapture %}
            {% endif %}
            <img src="{{ img_path }}" alt="Picture of {{ member.name }}" class="img-fluid rounded shadow"
                style="width: 200px;">
        </div>
        <div class="col-lg-9">
            <h4><a href="{{ member.link }}" target="_blank" class="btn-link text-primary">{{ member.name }}</a></h4>
            {% if member.role %}
            <h5>{{member.role}}</h5>
            {% endif %}
            <h6>{{ member.title | newline_to_br }}</h6>
            <p>{{ member.content | markdownify }}</p>
        </div>
    </div>
</div>
{% endfor %}