    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="{{ "/index.html" | relative_url }}">
          <img src="{{ "/assets/img/brand/white.png" | relative_url }}">
        </a>
        <div class="navbar-collapse collapse" id="navbar_global">
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Academic Programs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Data Science Club
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Data Science Day
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Data Science Seminar
              </a>
            </li>
          </ul>
          {% assign data = site.data.data %}
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" target="_blank" href="{{ data.twitter }}" 
                 data-toggle="tooltip" title="@UUDataScience">
                <i class="fa fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
