{% assign data = site.data.data %}

<div class="position-relative">
  <!-- Hero for FREE version -->
  <section class="section section-lg section-hero section-shaped pb-250">

    <!-- Background circles -->
    <div class="shape shape-style-1 shape-primary">
    </div>

    <div class="container shape-container d-flex align-items-center py-lg-md">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8 text-center">
            <h1 class="display-3 text-white">
              {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
            </h1>
            <p class="lead text-white">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</div>
