  <!-- Core -->
  <script src="{{ "/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/vendor/popper/popper.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/vendor/bootstrap/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/vendor/headroom/headroom.min.js" | relative_url }}"></script>
  <!-- Optional JS -->
  <script src="{{ "/assets/vendor/onscreen/onscreen.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/vendor/nouislider/js/nouislider.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js" | relative_url }}"></script>
  <!-- Argon JS -->
  <script src="{{ "/assets/js/argon.js?v=1.0.1" | relative_url }}"></script>
