---
layout: default
---

{%- assign excerpt = page.date | date: "%b %-d, %Y" -%}

{% if page.header %}
  {% include page__hero.html %}
{% endif %}

<section class="section mt--300">
  <div class="container">
    <div class="card card-profile shadow px-4 py-4">
      <article class="post-content-main">
        <header class="post-header">
          <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
            {%- assign date_format = "%b %-d, %Y" -%}
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: date_format }}
            </time>
            {%- if page.modified_date -%}
            ~
            {%- assign mdate = page.modified_date | date_to_xmlschema -%}
            <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
              {{ mdate | date: date_format }}
            </time>
            {%- endif -%}
            {%- if page.author -%}
              • {% for author in page.author %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                {%- if forloop.last == false %}, {% endif -%}
              {% endfor %}
            {%- endif -%}
          </p>
        </header>
        <hr />
        <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>
        <hr />
        {%- if site.disqus.shortname -%}
          {%- include disqus_comments.html -%}
        {%- endif -%}
      </article>
    </div>
    <nav class="mt-5">
      <a href="{{ '/news' | relative_url }}">See All News</a>
    </nav>
  </div>
</section>